doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport"
  content="width=device-width,initial-scale=1")
  meta(name="author" content="TODO")
  meta(name="description" content="TODO")

  link(rel="stylesheet" href="assets/bootstrap/bootstrap.min.css")

  title test title

body

  h1.text-primary Hey I'm working

  script(src="assets/scripts/jQuery-3.3.1.js")
  script(src="assets/bootstrap/bootstrap.min.js")
